<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-success">
			  <div class="panel-heading">
			    	<h1>All user</h1>
			  </div>
			  	<div class="detail">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<img src="image/slide1.jpg" class="img-responsive">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<th style=" padding: 0px;margin: 0px; padding-left:10px;background-color: rgba(0, 46, 93, 1);color: #000;text-align: left;"><h1 style="color:#FFF;">Ngo Van Thoai</h1></th>
									</tr>
									<tr>
										<th style="height:22px;"></th>
									</tr>
									<tr>
										<th ><span class="intro">Name</span> : Ngo Van Thoai
										</th>
									</tr>
									
									<tr>
										<th ><span class="intro"> Address</span> : 
											Thien Hien - My Dinh - Tu Liem - Ha Noi
										
										</th>
									</tr>
									
									<tr>
										<th ><span class="intro"> Age</span> : 18
										</th>
									</tr>
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			  <div class="panel-body">
			  	<div class="creat">
			  		<a href="#create" class="btn btn-warning " data-toggle="modal">Create user</a>
			  	</div>
			  	<table class="list-user table table-bordered">
				  <thead>
				    <tr>
				      <th>ID</th>
				      <th>Name</th>
				      <th>Photo</th>
				      <th>Address</th>
				      <th>Age</th>
				      <th>Edit/ Delete</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      	<th scope="row">1</th>
				      	<td>Ngo Van Thoai</td>
				      	<td class="avatar"><img src="image/slide1.jpg" class="img-responsive"></td>
				      	<td>ThienHien, MyDinh, BacTuLiem, Hanoi</td>
				      	<td>23</td>
				      	<td>
					      	<a href="#" class="btn btn-success">View</a>
					      	<a href="#" class="btn btn-primary">Edit</a>
					      	<a href="#" class="btn btn-danger">Delete</a>
				      	</td>
				    </tr>
				    <tr>
				      	<th scope="row">1</th>
				      	<td>Ngo Van Thoai</td>
				      	<td class="avatar"><img src="image/10mb.jpg" class="img-responsive"></td>
				      	<td>ThienHien, MyDinh, BacTuLiem, Hanoi</td>
				      	<td>23</td>
				      	<td>
					      	<a href="#" class="btn btn-success">View</a>
					      	<a href="#" class="btn btn-primary">Edit</a>
					      	<a href="#" class="btn btn-danger">Delete</a>
				      	</td>
				    </tr>
				    <tr>
				      	<th scope="row">1</th>
				      	<td>Ngo Van Thoai</td>
				      	<td class="avatar"><img src="image/9467361014_51e6264f01_o.jpg" class="img-responsive"></td>
				      	<td>ThienHien, MyDinh, BacTuLiem, Hanoi</td>
				      	<td>23</td>
				      	<td>
					      	<a href="#" class="btn btn-success">View</a>
					      	<a href="#" class="btn btn-primary">Edit</a>
					      	<a href="#" class="btn btn-danger">Delete</a>
				      	</td>
				    </tr>
				   
				  </tbody>
				</table>
			  </div>
		</div>
	</div>
</div>